npm-debug.log
client/node_modules/
client/dist/
client/dist.zip
src/client/yarn.lock
!/.gitignore
*.pyc
node_modules/
.idea/
nbproject/
npm-debug.log
public/files/
public/media/
/.DS_Store
public/lib/
public/upload/
app.log
app1.log
yarn.lock
server/app/.DS_Store