.header{
	text-align: center;
	font-weight: bold;
}

.header p, .name-c p{
	margin: 0 0 5px;
}

.name-c, .name-e{
	text-align: center; 
	text-transform: uppercase; 
	font-weight: bold; 
}

.date{
	padding-top: 0;
	padding-bottom: 0;
}

.date span{
    font-style: italic;
    float: right;
    margin-right: 50px;
}

.center{
    text-align: center;
}