<div class="layout-wrapper" (click)="onWrapperClick()" [ngClass]="{'layout-wrapper-static': layoutStatic,
  'layout-wrapper-active': mobileMenuActive}">
  <menu style="margin-top: 0; margin-bottom: 0;"></menu>
  <div class="layout-main">
    <navbar></navbar>
    <div class="layout-content" style="padding-top: 82px;">
      <p-growl></p-growl>
      <router-outlet></router-outlet>
      <div class="footer">
        <footer></footer>
      </div>
    </div>
    <div class="layout-main-mask" *ngIf="mobileMenuActive"></div>
  </div>
</div>
<p-confirmDialog header="{{'Confirmation'|translate}}" width="300"></p-confirmDialog>
<change-password-dialog></change-password-dialog>
<user-profile-dialog></user-profile-dialog>