.name-c, .name-e{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.label, .bold{
	font-weight: bold;
}

.title{
	text-transform: uppercase;
}

.ins{
    text-indent: 50px;
}

.ans-print{
	margin-bottom: 20px;
}

input[type="radio"]:checked{
    background-color: #3f51b5;
}