.label{
	font-weight: bold;
}

.content{
	text-transform: uppercase;
}

.align{
	text-align: center;
}

.ins{
    text-indent: 50px;
}

.ans-print{
	margin-bottom: 20px;
}

input[type="radio"]:checked{
    background-color: #3f51b5;
}