<p-dialog header="{{'Answer sheet'|translate}}" [(visible)]="display" modal="true" width="960" height="100%" [responsive]="true" appendTo="body">
  <p-scrollPanel [style]="{width: '100%', height: '460px'}">
    <div class="ui-g ans-print" #printSection>
       <table width="100%" style="margin-bottom: 20px;">
        <tr class="label content align">
          <td colspan="3" width="50%">{{company.name}}</td>
          <td colspan="3" width="50%">{{exam.name}}</td>
        </tr>
        <tr>
          <td colspan="2"><span class="label">{{'Subject'|translate}}:</span> <span class="content"> {{exam.subject}}</span></td>
          <td colspan="2"><span class="label">{{'Exam date'|translate}}:</span> <span class="content"> {{exam.start | date : "dd/MM/yyyy"}}</span></td>
          <td colspan="2"><span class="label">{{'Examination room'|translate}}:</span><span class="content">............</span></td>
        </tr>
        <tr>
          <td colspan="3" width="50%"><span class="label">{{'Student'|translate}}: </span><span> {{member.name}}</span></td>
          <td colspan="3" width="50%"><span class="label">{{'Class'|translate}}: </span><span>............</span></td>
        </tr>
        <tr>
          <td colspan="3" width="50%"><span class="label">{{'Exam code'|translate}}: </span><span> {{exam.code}}</span></td>
          <td colspan="3" width="50%"><span class="label">{{'Score'|translate}}: </span><span> {{member.score}}</span></td>
        </tr>
      </table>
      <p-dataList [value]="examQuestions" [rows]="examQuestions.length" styleClass="l-question">
        <ng-template let-question pTemplate="item" question-container>
          <div question-container></div>
        </ng-template>
      </p-dataList>
    </div>
  </p-scrollPanel>
  <p-footer>
    <button type="button" pButton icon="ui-icon-print" (click)="print()" label="{{'Print'|translate}}"></button>
    <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
  </p-footer>
  
</p-dialog>
